@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  scrollbar-base-color: lightgray;
  scrollbar-width: 10px;
  scrollbar-track-color: red;
}

.linkToComponent {
  @apply w-full cursor-pointer rounded-md border bg-gray-100 p-4 shadow-sm hover:bg-gray-200;
}

.mainText {
  @apply bg-gradient-to-b from-gray-700 to-gray-500 bg-clip-text p-2 text-center text-5xl font-semibold text-transparent max-md:text-4xl max-sm:text-3xl;
}
